*.o
*.obj

*.a
*.lib
*.so
*.dylib
*.dll
*.exe

*.pdb
*.dSYM/

build/
out/
bin/
dist/

deps/clay/.clay-src/

.jj/

.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.idea/
*.iml
cmake-build-*/

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
.netrwhist
tags
[._]*.un~

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-project

*.log
*.dmp
crash-*.txt